name: e2e
on:
  pull_request:
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/*.yml"

# Ensure only one E2E test runs at a time to avoid conflicts
concurrency:
  group: e2e-tests
  cancel-in-progress: false

jobs:
  e2e:
    name: E2E Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '>=1.25.0'
      - name: Run E2E tests
        env:
          GH_TOKEN: ${{ secrets.E2E_TEST_TOKEN }}
        run: go test -tags=e2e -v